.ui-widget.ui-widget-content
{
    border: 0px !important;
   /* background:transparent !important; */
}

#slider-button-2, #slider-button-3 {
margin-top: 2px;

}
.realestate-select-box-meta, .realestate-select-box-meta-widget {
    font-size:14px;
}


#slider-button-0, #slider-button-1  {
    width: 1.3em !important ;
    height:  1.3em !important ;
    border-radius: 50%
}

.ui-slider .ui-slider-handle
{
    width: 1.3em !important ;
    height:  1.3em !important ;
    border-radius:  50%;
    /* margin-top: 3px; */
    padding-left: 17px;
  }

  #slider-button-2, #slider-button-3  {
    width: 1.0em !important ;
    height:  1.0em !important ;
    border-radius: 50%
}

  .ui-slider-horizontal .ui-slider-range{

   /* max-height: 12px; */

  }


#realestate-price-slider-label{

    font-size:14px;

}

#realestate-search-box-widget{

/* background: yellow; */
padding: 10px ;
/* padding-bottom: 20px; */
padding-top:20px;


}

.realestaterightnow_container_buttons_search_widget{
    display: block;

}

.realestate-select-box-meta-widget {

    float: right;
    width:40%;
    /* font-size: small; */
}

/* Slider 2023 */

/*
.realestate-search-box {
    background-color: #f7f3b7;
    border-width: 5px;
    border-color: #dba4a4;
    border-radius: 10px;
  }
  
  .realestate-price-slider {
    margin: 5px;
  }
*/


.realestate-search-box {
   /* background-color: #f8ef6e; */
    border-width: 1px solid;
    /* border-radius: 5px; */
  }
  /*
  .realestate-price-slider {
    margin-top: 10px;
    padding:10px;
  }
  */
  




.realestaterightnow_container_buttons_search {
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    flex-wrap: wrap; 
  }

  
  .searchItem {
    /* >>>>>>>>>>>>>>> flex-basis: calc(100% / 3); */
  }
  

#slider-range .ui-slider-handle {

   /*  background-color:blue !important; */

}


.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button {

  /*  background: ''; */

}


/*
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:active {

	border: 1px solid #1bd31b;
	background:  rgb(35, 199, 228) !important;
	font-weight: normal;
	color: #555555;
}
*/


.ui-state-default,
.ui-widget-content .ui-state-default
 {
/*
FUNCIONA!
	border: 1px solid #1bd31b;
	background:  rgb(35, 199, 228) !important;
	font-weight: normal;
	color: #555555;
    */
}

  

/*  
.ui-slider-handle {

    background-color:blue !important;

}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active
.ui-slider-handle {

    background-color:blue !important;

}

.ui-slider .ui-slider-handle {
    background-color: red !important;
    border-color: red !important;
}

.ui-slider ,  .ui-slider-handle {
    background-color: red !important;
    border-color: red !important;
}

html .ui-button.ui-state-disabled:active {
	border: 1px solid #d3d3d3;
	background: #fa0606 url("images/ui-bg_glass_75_e6e6e6_1x400.png") 50% 50% repeat-x;
	font-weight: normal;
	color: #555555;
}
*/



/* Slider */

#realestaterightnow_meta_price2
{
  /*
  margin-top: 25px;  
  margin-left: 10px;
  max-width: 100%;
  font-size: 12px;
  */
  max-height:12px;
}

/* All block  */
.realestate-price-slider2
{
    float: left; 
   position: relative;
   clear: both;
   margin-top: 10px;
   /* padding: 3px; */
   padding-left: 17px;
   /* border-radius: 4px; */
   min-height: 66px;
   /*
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   */
   /* border: 1px; */
   padding-bottom:  0px;
   margin-bottom: 15px;
   /* background: white; */
   padding-right: 15px;
   width: 100%;
   /* margin-left: 6px; */
   margin-bottom:15px;
   margin-right: 10px;



   
}
/* Label */
.realestatelabelprice2
{
	/* float: left; */
	padding-left: 20%;
	max-width: 40% ;
    max-height: 45px;
    margin-top: 0px; 
    text-align:left;
    position: relative;
    width:  100%;
    font-size: 12px;
}
/* Row Price */
#meta_price2
{
  /* Min - Max */
  font-size: 12px;
  border: 0px;
  background: transparent;
  margin-top:  2px; 
  vertical-align: top; 
  max-width: 55%;
  /* float: left; */
  text-align: center;
  padding-left: 15px; 
}
#realestaterightnow_meta_price
{
  /* margin-top: -25px;  */
  margin-left: 10px;
  max-width: 100%;
}
.realestate-submitBtnWrap
{
   /* float: left; */ 
   margin-top: 20px;
   position: relative;
   clear: both;
    margin-bottom: 20px; 
}

#realestate-submitBtn-widget{

    margin-bottom: 20px;  
}


/* All block  */
.realestate-price-slider
{
   /* float: left; */ 
   position: relative;
   clear: both;
   margin-top: 15px; 
   padding: 8px;
   /* border-radius: 4px; */
   min-height: 80px;
   /*
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   */
   /* border: 1px solid gray; */
   padding-bottom:  0px;
   /* margin-bottom: -15px; */
   min-width: 240px;
   padding-right: 20px;
   /* padding-top: 13px; */
}
.realestate-price-slider2
{
    padding-top: 5px;
    padding-bottom:15px;
}

.realestatelabelprice
{
	/* float: left; */
    padding-left: 10%;
    padding-right: 20px;
	max-width: 220px ;
	min-width: 90px ;
    max-height: 45px;
    margin-top: 0px; 
    /* text-align:left; */
    position: relative;
    width:  100%;
    font-size: 14px;
}
/* Row Price */
#meta_price
{
  font-size: 14px;
  border: 0px;
  background: transparent;
  /*  margin-top:  -5px; */
 /* margin-left: 40px; */
  vertical-align: top; 
  max-width: 145px;
   /* float: left; */ 
  /* padding-left: 5px; */
  max-height: 45px;
  text-align: center;
  padding-right: 25px; 
}
#realestatep_oneline
{
  min-height: 0px;
  max-height: 0px;
}
.sideTitle
{
	/* color: white; */
	font-size: 16px;
	font-weight: 300;
	padding: 0px;
	position: relative;
	/* background-color: gray; */
	margin-top: 10px;
    margin-bottom: 0px;
    /* border-radius: 4px 4px 0px 0px; */
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;  
}
.realestate-search-cuore
{
	width: 100% ;
    margin: auto;
    text-align:  center;
    margin-left: 0px;
    font-size: 18px;
    /* padding-bottom: 20px; */
    padding-left: 0px;
}
.realestate-search-cuore-fields
{
    margin: auto;
    text-align:  center;
}
/*
.searchItem:after
{
	clear: both;
	display: block;
	content: "";
}
*/

.searchItem2:after
{
	clear: both;
	display: block;
	content: "";
}
.searchItem
{
	/* float: left; */
	/* padding-left: 0px;*/
    /* padding: 5px; */
	max-width: 120px ;
	min-width: 90px ;
    margin-top: 5px;

}
.searchItem2
{
	/* float: left; */
	padding-left: 0px;
    padding-right:10px;
	max-width: 220px ;
	min-width: 90px ;
    max-height: 45px;
    margin-top: 20px;
}
.realestate-search-span
{
	font-weight: 200;
	padding: 0px;
	font-size: 140%;
	color: gray;
	background: #EBEAED;
    margin-bottom: 10px;
    padding: 2px;
    height: 40px;
}
.fix-check
{
	width: 199px;
	/* float: left; */
	height: 36px;
	margin-right: 25px;
}
.realestate-search-label
{
	/* color: #666; */
	top: 9px;
	/*padding-right: 2px; */
    font-size: 14px;
}
.realestate-wrap:after
{
	content: " ";
	display: block;
	clear: both;
}
.realestate-search-box:after
{
	clear: both;
	display: block;
	content: "";
}
.realestate-search-box
{
	width: 100%;
    /*
    min-height: 00px;
	border-top: 0px solid #CCCCCC;
	border-bottom: 0px solid #CCCCCC;
	margin-bottom: 10px;
	border: 1px solid #afabab;

    */

	padding: 20px; 
    /* padding-bottom: 0px; */
    /* padding-bottom: 0px; */
    margin:0px;
    margin-right: 0px ;
    color: gray;
    max-width: 100%;
    text-align: center;
    font-size: 16px;
    /* margin-left: -5px; */
}
.input-box
{
	padding: 3px;
	margin-bottom: 1px;
	font-size: 100%;
	height: 40px;
	/* border-radius: 4px; 
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
    */
	border: 1px solid #EBEBEB;
}
#realestate-submitBtn:hover
{
	opacity: .7;
}
.realestate-search-box:hover .input-box:hover
{
	opacity: .7;
}
.realestate-search-box #realestate-submit
{
	border: none;
	border-radius: 0px;
	padding: 5px;
	float: right;
	cursor: pointer;
	height: 35px;
	margin-left: 20px;
    /*
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
    */

	border: 0px solid #800000;
}
#realestate-submitBtn
{
    
	text-align: center;
	padding: 4px ;
	
	height: 40px ;
	/* width: 120px; */
	font-size: 16px ;
	font-weight: bold ;
    margin-left: 0px;
    margin-top: 30px ;
    /* Background: gray; */
    /* margin-bottom:20px; */
    
}
	 .input-box, .select-box-meta, .select-box
	{
		padding: 2px;
		margin-bottom: 1px;
		max-width: 100px ;
		height: 30px ;
     	font-size: 14px ;
     	height: 30px;
        /*
    	border-radius: 4px;
    	-moz-border-radius: 4px;
    	-webkit-border-radius: 4px;
        */

        border: 1px solid gray;
	}
 	 .select-box-meta
	{
      /* float: left; */
	}
@media screen and (max-width: 1000px)
{
	#realestate-submitBtn
	{
		text-align: center;
		padding: 2px ;
		padding-top: 0px ;
		height: 35px ;
		width: 100px;
		font-size: 14px ;
        margin: auto;
        margin-top: 40px ;
	}
	 .input-box, .select-box-meta, .select-box
	{
		padding: 2px;
		margin-bottom: 1px;
		max-width: 80px ;
		height: 30px ;
		font-size: 95% ;
	}    
	.searchItem, .searchItem2
	{
		/* font-size: 85%; */
	}
    .searchItem, .searchItem2
    {
    	/* padding-right: 5px; */
    }
    .realestate-search-label
    {
        font-size: 12px;
    }
}
@media screen and (max-width: 800px)
{
	#realestate-submitBtn
	{
		text-align: center;
		padding: 1px ;
		padding-top: 0px ;
		height: 35px ;
		max-width: 90px;
		font-size: 11px ;
        margin-top: 40px ;
	}
	 .input-box, .select-box-meta, .select-box
	{
		padding: 2px;
		margin-bottom: 1px;
		max-width:70px ;
		height: 30px ;
		font-size: 12px ;
	}
	.searchItem, .searchItem2
	{
		/* font-size: 85%; */
        /* float: left; */
        padding-bottom: 10px;
	}
    .searchItem, .searchItem2
    {
    	/* padding-right: 10px; */
    }
    .realestate-search-box
    {
      margin-left: 20px;  
    }    
}
@media screen and (max-width: 700px)
{
	 .input-box, .select-box-meta, .select-box
	{
		padding: 2px;
		margin-bottom: 1px;
		max-width:80px ;
		height: 30px ;
		font-size: 12px ;
	}
}
@media screen and (max-width: 801px)
{
	#realestate-submitBtn
	{
		text-align: center;
		padding: 1px ;
		padding-top: 0px ;
		height: 30px ;
		font-size: 12px ;
        margin-top: 35px ;
	}
	 .input-box, .select-box-meta, .select-box
	{
		margin: 5px;
		font-size: 95% ;
        float: right;
        width: 100px ;
	}
    .realestate-search-label
    {
        font-size: 14px;
    }
	.searchItem, .searchItem2
	{
		font-size: 100%;
        min-width: 100% ;
	}
     .realestate-search-label
    {
       /* float: left; */
    }
 #meta_price
    {
      float: right ; 
      padding-right: 0px;
      text-align: right;
      width: 100%;
    }
  #realestaterightnow_meta_price
  {
      margin-top: 60px; 
  }
  .realestate-price-slider
  {
     min-height: 100px ;
  } 
   #meta_price {
     margin-top: 0px ;
    }
}
/*
.ui-slider .ui-slider-handle
{
  width: 1.0em ;
  height:  1.0em ;
  border-radius:  50%;
  margin-top: 3px;
  padding-left: 17px;
}
*/
@media screen and (max-width: 500px) {
    .realestate-search-box {
       margin-left: -10px; 
    }
    .realestate-search-cuore
    {
    	width: 50% ;

    }
}